<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <% if ( user.role === "admin") { %>
      <a class="navbar-brand m-0" href="/usersmenu">
        <img src="/img/planner.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Penjadwalan Apps</span>
      </a>
    <% } else { %>
      <a class="navbar-brand m-0" href="/">
        <img src="/img/planner.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Penjadwalan Apps</span>
      </a>
    <% } %>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <% if ( user.role === "admin") { %>
        <li class="nav-item mt-3">
          <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">ADMINS</h6>
        </li>
        <li class="nav-item">
          <a href="/usersmenu" class="nav-link">
            <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
              <i class="fa fa-users text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Users Menu</span>
          </a>
        </li>
      <% } else if (user.role === "user") { %>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#dashboardsExamples" class="nav-link" aria-controls="dashboardsExamples" role="button" aria-expanded="false">
            <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
              <i class="ni ni-shop text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboards</span>
          </a>
          <div class="collapse " id="dashboardsExamples">
            <ul class="nav ms-4">
              <li class="nav-item">
                <a class="nav-link " href="/dashboard">
                  <span class="sidenav-mini-icon"> H </span>
                  <span class="sidenav-normal"> Home </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/jadwalkuliah">
                  <span class="sidenav-mini-icon"> J </span>
                  <span class="sidenav-normal"> Jadwal Kuliah </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">PAGES</h6>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#pagesExamples" class="nav-link" aria-controls="pagesExamples" role="button" aria-expanded="false">
            <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
              <i class="ni ni-ungroup text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Kelola Data</span>
          </a>
          <div class="collapse show" id="pagesExamples">
            <ul class="nav ms-4">
              <li class="nav-item ">
                <a class="nav-link " href="/dosen">
                  <span class="sidenav-mini-icon">D</span>
                  <span class="sidenav-normal"> Menu Dosen </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/matkul">
                  <span class="sidenav-mini-icon"> MK </span>
                  <span class="sidenav-normal"> Menu Mata Kuliah </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/pengampu">
                  <span class="sidenav-mini-icon"> P </span>
                  <span class="sidenav-normal"> Menu Dosen Pengampu </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/waktu-tidak-bersedia">
                  <span class="sidenav-mini-icon"> WTB </span>
                  <span class="sidenav-normal"> Waktu Tidak Bersedia </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/hari">
                  <span class="sidenav-mini-icon"> H </span>
                  <span class="sidenav-normal"> Menu Hari </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/waktu">
                  <span class="sidenav-mini-icon"> W </span>
                  <span class="sidenav-normal"> Menu Durasi Waktu </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/ruang">
                  <span class="sidenav-mini-icon"> R </span>
                  <span class="sidenav-normal"> Menu Ruang Kelas </span>
                </a>
              </li>
            </ul>
          </div>
        </li> 
      <% } else { %>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#dashboardsExamples" class="nav-link" aria-controls="dashboardsExamples" role="button" aria-expanded="false">
            <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
              <i class="ni ni-shop text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboards</span>
          </a>
          <div class="collapse " id="dashboardsExamples">
            <ul class="nav ms-4">
              <li class="nav-item">
                <a class="nav-link " href="/dashboard">
                  <span class="sidenav-mini-icon"> H </span>
                  <span class="sidenav-normal"> Home </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">PAGES</h6>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#pagesExamples" class="nav-link" aria-controls="pagesExamples" role="button" aria-expanded="false">
            <div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
              <i class="ni ni-ungroup text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Kelola Data</span>
          </a>
          <div class="collapse show" id="pagesExamples">
            <ul class="nav ms-4">
              <li class="nav-item ">
                <a class="nav-link" href="/dosen-prodi">
                  <span class="sidenav-mini-icon">D</span>
                  <span class="sidenav-normal"> Menu Dosen </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/matkul/<%= user.prodi %>">
                  <span class="sidenav-mini-icon"> MK </span>
                  <span class="sidenav-normal"> Menu Mata Kuliah </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/pengampu-prodi">
                  <span class="sidenav-mini-icon"> P </span>
                  <span class="sidenav-normal"> Menu Dosen Pengampu </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
  <div class="sidenav-footer mx-3 my-3">
  </div>
</aside>