<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <i class="fas fa-university"></i>
        </div>
        <div class="sidebar-brand-text mx-2 ">Jadwal Apps</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/jadwalkuliah">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Jadwal Kuliah</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Daftar Menu
    </div>

    <!-- Nav Item - Pages Daftar Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/dosen">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Menu Dosen</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/matkul">
            <i class="fas fa-fw fa-book"></i>
            <span>Menu Mata Kuliah</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/pengampu">
            <i class="fas fa-fw fa-address-card"></i>
            <span>Menu Dosen Pengampu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/waktu-tidak-bersedia">
            <i class="fas fa-fw fa-window-close"></i>
            <span>Waktu tidak Bersedia</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/hari">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Menu Hari</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/waktu">
            <i class="fas fa-fw fa-clock"></i>
            <span>Menu Durasi Waktu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ruang">
            <i class="fas fa-fw fa-building"></i>
            <span>Menu Ruang Kuliah</span></a>
    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>