<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%- title %> </h6>
    </div>

    <div class="card-body">
       
        <h3> Selamat datang di Aplikasi Sistem Penjadwalan Ruang Kuliah</h3>
        <br>

        <div class="row">
            <article class="col">
                Aplikasi sistem penjadwalan ini memanfaatkan algoritma genetika untuk menyediakan solusi penjadwalan yang optimal.
                Algoritma ini membantu meminimalkan konflik dan memaksimalkan efisiensi dengan membuat penyesuaian real-time terhadap jadwal.
                Ini berarti bahwa aplikasi dapat menentukan solusi terbaik untuk masalah penjadwalan dengan menggunakan metode yang sesuai dengan solusi yang paling cocok.
            </article>
            <article class="col">
                Dengan menggunakan aplikasi ini, pengguna dapat membuat jadwal yang lebih baik dan efisien tanpa harus membuang banyak waktu dan usaha.
                Aplikasi ini mempermudah proses penjadwalan dengan menyediakan antarmuka yang mudah digunakan dan mempermudah akses ke data yang relevan.
                Algoritma genetika yang digunakan dalam aplikasi memastikan bahwa solusi yang diberikan selalu up-to-date dan sesuai dengan kondisi terkini sehingga memastikan hasil yang maksimal.
            </article>
        </div>

    </div>
</div>