<div class="row justify-content-center"  style="width: 100%; margin: 0 auto;">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <% if (typeof errors != 'undefined') { %>
                                <h4 class="text-danger small font-weight-bold"><%= errors %></h4>
                            <% } %>
                            <% if (message.length !== 0) { %>
                                <h4 class="text-danger small font-weight-bold"><%= message %></h4>
                            <% } %>
                            <form class="user" action="/userprocess" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="name" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Email Address" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="confPassword" name="confPassword" placeholder="Repeat Password" required>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-user" name="role" id="role" value="user" hidden>
                                <button class="btn btn-primary btn-user btn-block">Register Account</button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/">Kembali ke halaman utama</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>