<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%- title %> </h6>
    </div>

    <div class="card-body">
       
        <h3> Mohon maaf untuk saat ini jadwal masih belum tersedia</h3>
        <br>

    </div>
</div>